    <div id="main" class="row">
        <div id="leftPanel" class="col-md-2">
            <!-- this is for purposes of grabbing the current displayed race line graph-->
            <div id="currUserID" value={{user.ID}} hidden></div>
            <div id="currRaceID" value={{race}} hidden></div>
            <!-- back to the HTML -->
            
            <h2>DASHBOARD</h2>
            <p>{{user.firstName}} {{user.lastName}}<br>
            {{user.city}}, {{user.state}}</p>
            
            <h4>Total Races</h4>
            <p>{{extraInfo.numRaces}}</p>
            
            <h4>1st Place Wins</h4>
            <p>{{extraInfo.placeFirst}}</p>
            
            <h4>Total Distance</h4>
            <p>{{extraInfo.totDistance}} miles</p>
            <br>
            <div class="text-center">
                <a href="/new/{{user.ID}}/{{race}}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-road"></span> Start New Race</a>
                <a href="" id="joinBtn" class="btn btn-default btn-block" data-toggle="modal" data-target="#joinRaceModal"><span class="glyphicon glyphicon-ok"></span> Join a Race</a>
                {{!-- <a href="/past/{{ID}}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-stats"></span> Your Past Races</a> --}}
            </div>
        </div><!-- end leftPanel -->

        <div id="raceTracker" class="col-md-10">
            <div id="map"></div>
        </div>    

    </div> <!-- /end Main Content -->

    <div id="joinRace" class="row">
        <div class="col-md-3">
            <h2>Create New Race</h2>
            <h4>Name of Race</h4>
            <p>The name of race</p>
            <h4 >Creator</h4>
            <p>First Name</p>
        </div>
        <div class="col-md-3 pushDown">
            <h4 >Race Type</h4>
            <p>Run</p>
            <h4 >Distance</h4>
            <p>The name of race</p>
        </div>
        <div class="col-md-3 pushDown">
            <h4 >Start Date</h4>
            <p>January 1, 2018</p>
            <h4 >End Date</h4>
            <p>June 1, 2018</p>
        </div>

        <div id="myButtons" class="col-md-3 ">
            <form action="/joinRace/{{user.ID}}" method="POST">
                <button type="submit" class="btn btn-danger btn-block submit">Join</button>
            </form>
            <a href="/{{user.id}}" class="btn btn-danger btn-block submit">Cancel</a>
        </div>
    </div>

    <!-- Modal -->
    <div id="joinRaceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Select Race To Join</h2>
                </div>
                <div class="modal-body">
                    <div id="raceList"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /end Modal -->

    <script type="text/javascript" src="/assets/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD0PxTVDTzOnoekoDGB2RkbYUZ5OhO0Ko&callback=initMap"
    type="text/javascript"></script>
    <script type="text/javascript" src="/assets/js/join.js"></script>