    <div id="main" class="row">
        <div id="leftPanel" class="col-md-2">
            <h2>DASHBOARD</h2>
            <p>{{firstName}} {{lastName}}<br>
            {{city}}, {{state}}</p>
            
            <h4>Total Races</h4>
            <p>10</p>
            
            <h4>1st Place Wins</h4>
            <p>2</p>
            
            <h4>Total Distance</h4>
            <p>826 miles</p>
            <br>
            <div class="text-center">
                <a href="/new/{{ID}}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-road"></span> Start New Race</a>
                <a href="/join/{{ID}}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-ok"></span> Join a Race</a>
                {{!-- <a href="/past/{{ID}}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-stats"></span> Your Past Races</a> --}}
            </div>
        </div><!-- end leftPanel -->

        <div id="raceTracker" class="col-md-10">



        </div>    

    </div> <!-- /end Main Content -->

    <div id="joinRace" class="row">
        <div class="col-md-3">
            <h2>Create New Race</h2>
            <h4>Name of Race</h4>
            <p>The name of race</p>
            <h4 >Creator</h4>
            <p>First Name</p>
        </div>
        <div class="col-md-3 pushDown">
            <h4 >Race Type</h4>
            <p>Run</p>
            <h4 >Distance</h4>
            <p>The name of race</p>
        </div>
        <div class="col-md-3 pushDown">
            <h4 >Start Date</h4>
            <p>January 1, 2018</p>
            <h4 >End Date</h4>
            <p>June 1, 2018</p>
        </div>

        <div id="myButtons" class="col-md-3 ">
            <a href="#" class="btn btn-danger btn-block submit">Join</a>
            <a href="#" class="btn btn-danger btn-block submit">Cancel</a>
        </div>
    </div>