    <div id="main" class="row">
        <div id="leftPanel" class="col-md-2">
            <!-- this is for purposes of grabbing the current displayed race line graph-->
            <div id="currUserID" value={{user.ID}} hidden></div>
            <div id="currRaceID" value={{race}} hidden></div>
            <!-- back to the HTML -->
            
            <h2>DASHBOARD</h2>
            <p>{{user.firstName}} {{user.lastName}}<br>
            {{user.city}}, {{user.state}}</p>
            
            <h4>Total Races</h4>
            <p>{{extraInfo.numRaces}}</p>
            
            <h4>1st Place Wins</h4>
            <p>{{extraInfo.placeFirst}}</p>
            
            <h4>Total Distance</h4>
            <p>{{extraInfo.totDistance}} miles</p>
            <br>
            <div class="text-center">
                <a href="/new/{{user.ID}}/{{race}}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-road"></span> Start New Race</a>
                <a href="" id="joinBtn" class="btn btn-default btn-block" data-toggle="modal" data-target="#joinRaceModal"><span class="glyphicon glyphicon-ok"></span> Join a Race</a>
                {{!-- <a href="/past/{{ID}}" class="btn btn-default btn-block"><span class="glyphicon glyphicon-stats"></span> Your Past Races</a> --}}
            </div>
        </div><!-- end leftPanel -->

        <div id="raceTracker" class="col-md-10">



        </div>    

    </div> <!-- /end Main Content -->

    <div id="newRace" class="row">
        <div class="col-md-5">
            <h2>Create New Race</h2>
            <!-- form content-->
            <form>
                <fieldset>
                    <div class="form-group"> 
                        <label for="">Race Name</label>
                        <input type="text" class="form-control" id="raceName" name="raceName" size="28">
                    </div>
                    <div id="raceType" class="form-group"> 
                        <label for="">Race Type</label>
                        <select class="form-control" id="raceName" name="raceName">
                            <option value="volvo">Run</option>
                            <option value="saab">Bike</option>
                            <option value="fiat">Walk</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="">Start Location</label>
                        <input type="text" class="form-control" id="startLocation" name="startLcation" size="15">
                    </div>
                    <div class="form-group"> 
                        <label for="">End Location</label>
                        <input type="text" class="form-control" id="endLocation" name="endLocation" size="15">
                    </div>

                    <div class="form-group"> 
                        <label for="">Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="startDate">
                    </div>
                    <div class="form-group"> 
                        <label for="">End Date</label>
                        <input type="date" class="form-control" id="endDate" name="endDate">
                    </div>
                </fieldset>
            </form> <!-- /end form -->
        </div>
        <div id="raceDesc" class="col-md-4">
                <label for="">Race Description</label><br>
                <textarea id="textbox" rows="6" name="raceDesc"></textarea>
        </div>
        <div id="myButtons" class="col-md-3 ">
            <a href="#" class="btn btn-danger btn-block submit">Map Race</a>
            <a href="#" class="btn btn-danger btn-block submit">Create Race</a>
            <a href="#" class="btn btn-danger btn-block submit">Cancel</a>
        </div>
    </div>

    <!-- Modal -->
    <div id="joinRaceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Select Race To Join</h2>
                </div>
                <div class="modal-body">
                    <div id="raceList"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /end Modal -->

    <script type="text/javascript" src="/assets/js/join.js"></script>